body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  padding: 20px;
}

a {
  text-decoration: none;
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 10px;
  width: auto;
  height: 30px;
  font-size: 16px;
  border-color: cyan;
  box-shadow: 5px 5px 30px crimson;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  font-family: inherit;
}

.header {
  text-align: center;
  text-transform: uppercase;
  color: antiquewhite;
  margin-right: 350px;
}

.span {
  color: rgba(247, 39, 229, 0.637);
}
.header-menu-container{
  display: flex;
 justify-content: end;
  align-items: center;
  padding-bottom: 30px;
}
.btn-menu-open, .btn-menu-close{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
    height: 50px;
      width: 50px;
      padding: 0px;
}
svg{
  padding: 0px;
}
.icon-menu-open, .icon-menu-close{
  fill:#F6F6FE
}
/* mob-menu */
.mob-menu{
    width: 0px;
    height: 0px;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      
}
.isVisibleMenu{
  opacity: 1;
    visibility: visible;
    pointer-events: all;

      width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #2a2a2a;
        padding: 40px 40px;
}
.nav-list{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.link-nav{
  font-family: inherit;
  color: antiquewhite;
  font-size: 20px;
  transition: font-size, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover, &:focus{
    font-size: 24px;
    box-shadow: 2px 2px 24px 1px rgba(255, 0, 43, 0.726);
  }
}
.picture-pac {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.ex {
  font-size: 30px;
  color: rgb(233, 164, 212);
  box-shadow: 2px 2px 24px 1px rgba(255, 0, 43, 0.726);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* .ex::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #db92d8;
} */
/* ex */
.nav-item-link {
  font-size: 18px;
  margin-bottom: 20px;
}

/* ex */
.transaction-table,
th {
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.log-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.log-item {
  flex-basis: calc((100% - 16px) / 2);
  position: relative;
  padding: 4px;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
  font-size: 16px;
  font-family: monospace;
}

.log-item>.chip {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 8px;
  font: inherit;
  letter-spacing: inherit;
}

/* ex */
.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

/* ex */
.box-1 {
  width: 500px;
  height: 500px;
  background-color: darkturquoise;
  position: relative;
  margin-bottom: 20px;
}

.box-1>p,
.box-2>p {
  font-size: 45px;
  text-align: center;
}

.box-2 {
  width: 270px;
  height: 250px;
  background-color: fuchsia;
  position: absolute;
  margin-top: 25px;
  margin-left: 125px;
}

.box-active {
  background-color: chartreuse;
}

.box2-active {
  color: transparent;
  background-image:
    url(/images/logo-js.jpg);
  background-position: center;
  background-size: cover;
}

/* Example */
.car-search {
  border: 1px solid rgb(151, 233, 69);
  background-color: chartreuse;
  display: flex;
  gap: 24px;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.cars-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;

}

.car-card {
  border: 1px solid #808080;
}

/* example */
.div-for-figure {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 486px;
  min-height: 134px;
  background-color: #F6F6FE;
  border-radius: 8px;
  padding: 32px;
}

.p-js {
  color: transparent;
}

.input {
  width: 150px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
input:focus {
  border: 1px solid #000000;
}

.input:active {
  border: 1px solid #808080;
}

#controls {
  background-color: #F6F6FE;
  width: 486px;
  height: 104px;
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 16px;
}

/* ex */
.box {
  width: 250px;
  height: 250px;
}

.div-kitty-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ex Pallete*/

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  gap: 4px;
}

.color-palette .item {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
  transform: scale(1.1);
}

.output-text {
  text-align: center;
  font-size: 40px;
}

/* ex */
.parent-box {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid chartreuse;
}

.box {
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

/* ex */
#box {
  width: 10px;
  height: 10px;
  background-color: fuchsia;
}

/* ex */
.icon-basket{
  fill: black;
  stroke: #000000;
  background-color: orangered;
  border-radius: 50%;
}
.basket-title{
display: flex;
justify-content: center;
padding-top: 20px;
}
.basket-title a{
  color: #2a2a2a;
}
.shop-wrapper {
  background-color: #fff;
}

.item-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.composition-text {
  color: #000000;
  text-align: center;
  text-shadow: 1px 1px 2px red;
  width: 450px;
}

.shop-title {
  text-align: center;
  font-size: 45px;
  color: #000000;
  text-shadow: 1px 1px 2px red;
}

.shop-div-pic {
  margin-top: 30px;
}

/* ex */
.container-time {
  background-color: #fff;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-date {
  color: #000000;
  font-size: 50px;
}

/* ex */
.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  border-radius: 3px;
  padding: 24px;
  user-select: none;
  cursor: pointer;

  transform: translate(calc(100% + 20px));
  visibility: hidden;
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert.success {
  border: 1px solid lawngreen;
  background-color: chartreuse;
  color: #fff;
}

.alert.is-visible {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

/* ex GAME */
.container-box-games>div {
  border: 1px solid #F6F6FE;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.container-box-games {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.result-game {
  border: 1px solid #F6F6FE;
  width: 250px;
  height: 25px;
}

/*  */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.inp {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Ex 5 10modul practice */
.checkbox-thumb{
  position: relative;
  width: 50px;
  height: 15px;
  overflow: hidden;
  border: 1px solid crimson;
  border-radius: 15px;
      padding: 0;
      margin-right: 30px;
}
.checkbox2{
  appearance: none;
  width: 50px;
    height: 15px;
      position: absolute;
        top: 9%;
        left: -9%;
}
.theme-toggle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.checkbox-cyrcle{
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
transform: translate(0, -45%);
background-color: transparent;
transition: 350ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.sun-icon{
  fill: #F6F6FE;
}
.star-icon{
  fill: gold;
}
                             /* Комбинатор всех соседних элементов Комбинатор '~' выбирает элементы,
                             которые находятся на этом же уровне вложенности,
                             после указанного элемента,
                             с тем же родителем. Синтаксис: A~B Пример: p~span выберет все элементы <span>,
                             которые находятся после элемента <p>внутри одного родителя. */
.checkbox2:checked ~ .checkbox-cyrcle{
  transform: translate(25px, -45%);
}
.dark{
  color: blanchedalmond;
    background-color: rgba(0, 0, 0, 0.856);
}
.light, .light .link-nav, .light .ex{
background-color: rgb(233, 164, 212);
color:rgb(36, 31, 31);
}
.light .ex{
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(255, 0, 76), 0 0 0.2em rgb(255, 255, 255);
}
/* exercise 6 */
.taskForm6{
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid crimson;
  border-radius: 10px;
  border-color: lightcoral;
  box-shadow: 0 4px 8px rgba(255, 0, 43, 0.726);
}
.taskForm6 input[type='text']{
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid crimson;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.taskForm6 button{
  padding: auto;
  background-color: #F6F6FE;
  color: #2a2a2a;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.taskForm6 button:hover, .taskForm6 button:focus {
  background-color: crimson;
}
#taskList6{
  width: 400px;
  height: 400px;
  margin: 20px auto;
  overflow: scroll;
}
#taskList6 li{
  padding: 10px;
  border-bottom: 1px solid crimson;
  border-color: darksalmon;
  font-size: 16px;
}
#taskList6 li:nth-child(odd) {
  background-color: crimson;
}
/* JsonPlaceholder */
.itemJsonPlaceholder {
  display: flex;
}

/* wheather API */
.wheather-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* todo list by JsonPlaceholder API */
.todoCard{
  display: flex;
  gap: 20px;
}
/* movie API */
.loadMoreHidden{
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.loadMoreVisible{
  visibility: visible;
    pointer-events: all;
    opacity: 1;
}
.movieList{
  display: flex;
 flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.movieCard{
  width: calc((100% - 4*24px)/4);
  border: 1px solid #808080;
    border-radius: 8px;
  height: 700px;
    overflow: scroll;
}
.moviePoster{
border-radius: 8px;
}
.movieInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

}